name: Build Test

on:
  pull_request:
  pull_request_target:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - uses: viamrobotics/build-action@v1.4
        with:
          version: ""
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          key-id: ${{ secrets.viam_labs_api_key_id }}
          key-value: ${{ secrets.viam_labs_api_key }}

  build-windows:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Build Windows module
        uses: ./.github/actions/build-windows

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: modular-webcam-windows
          path: module.tar.gz
